<!--<input [(ngModel)]="connectionString"> <br />
<input [(ngModel)]="tableName">
<button class="btn btn-lg btn-primary btn-block" (click)="getTable()">Test - get parent\children tables</button>
<p> Result:</p>
<ul>
    <li *ngFor="let item of result">
        {{ item.name }}
    </li>
</ul>
<button class="btn btn-lg btn-primary btn-block" (click)="getMetaTable()">Test2 - get table metadata</button>
<p> Table MetaData {{result2?.tableName}}</p>
<ul>
    <li *ngFor="let item of result2">
        {{ item.fieldName }}
    </li>
</ul>
<button class="btn btn-lg btn-primary btn-block" (click)="executePack()">Test3 - execute package</button>-->

<div class="container" [ngBusy]="busy">
    <h1>Business process type extractor</h1>
     Will extract bptypecode, and include the following tables: <br/>
        <ul>
            <li *ngFor="let item of script.tablesToProcess">
                {{ item.tableName }}
            </li>
        </ul>
    <br/>
    <form (ngSubmit)="executePack()" #bptypeForm="ngForm">
        <div class="form-group">
            <label for="connectionString">Conenction string</label>
            <input name="connectionString" type="text" class="form-control" id="connectionString" [(ngModel)]="connectionString" required>
        </div>

        <div class="form-group">
            <label for="bpTypeCode">Business Process Type Code</label>
            <input name="bpTypeCode" type="text" class="form-control" id="bpTypeCode" [(ngModel)]="bpTypeCode" required>
        </div>
        
        <button type="submit" [disabled]="!bptypeForm.form.valid" class="btn btn-success">Submit</button>
    </form>
</div>