<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
  </configSections>
  <connectionStrings>
    <add name="SourceDB" connectionString="Server=vm-rof-sqltest\sql2012;Database=DEU_CWNET_ANONY_130417;Integrated Security=True;MultipleActiveResultSets=true;Pooling=True;Max Pool Size=2500;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>