<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>

  </configSections>
  <system.diagnostics >
    <trace autoflush="true"  indentsize="4">
      <listeners>
        <add name="Console" type="System.Diagnostics.ConsoleTraceListener" initializeData="false" traceOutputOptions="ProcessId, DateTime"></add>
        <!--<add name="Text" type="System.Diagnostics.TextWriterTraceListener" initializeData="log.txt" traceOutputOptions="ProcessId, DateTime"></add>-->
      </listeners>
    </trace>
  </system.diagnostics>
  <connectionStrings>
    <!--add name="SourceDB" connectionString="Server=K153NR\SQL2012;Database=CWNET_DEU_20161110;Integrated Security=True;MultipleActiveResultSets=true;Pooling=True;Max Pool Size=2500;" providerName="System.Data.SqlClient"/-->
    <add name="SourceDB" connectionString="Server=vm-rof-sqltest\sql2012;Database=DEU_CWNET_ANONY_130417;Integrated Security=True;MultipleActiveResultSets=true;Pooling=True;Max Pool Size=2500;" providerName="System.Data.SqlClient"/>
    <add name="ECUMSC" connectionString="Server=QUID08PTDB01\dev2012;Database=ECU_CWN;Integrated Security=True;MultipleActiveResultSets=true;Pooling=True;Max Pool Size=2500;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>