<div class="container-fluid">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>File name</th>
                <th>Description</th>
                <th>Link</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>ConsoleApplication.zip</td>
                <td>1.0 version of console application</td>
                <td><a class="nav-link" href="./data/ConsoleApplication.zip">Click me</a></td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>PackageTemplateExample.zip</td>
                <td>Example of the package for scripts, extracts parameterization of clearing project for DEU</td>
                <td><a class="nav-link" href="./data/example.zip">Click me</a></td>
            </tr>
        </tbody>
    </table>
</div>