<h1>Welcome to buldozer Cockpit!</h1>
<div class="container-fluid">
    <br />
    <h4>Algorithm definition</h4>
    As input the tool accepts xml(json) file with definition of the follwoing: <br />
    <ul>
        <li>Root records</li>
        <li>
            Tables to process
            <ul>
                <li>table name</li>
                <li>Extract strategy</li>
                <li>Sql build strategy</li>
            </ul>
        </li>
    </ul>
    <p><u>The algorithm works base on FK relations in database, thus no FK - no extractions.</u></p>
    In short the extraction algorithm works as described below.
    <br />
    <strong>Phase 1</strong>
    <ol>
        <li>By given root record via FKs selects all dependent tables(children and parents), only tables from Table process list will be considered</li>
        <li>
            Depending on extract strategy creates list of next records to process
            <ul>
                <li>If process children is true, list will include children</li>
                <li>If process parents is true, list will include parents</li>
            </ul>
        </li>
        <li>Processing the list, going to point 1 with new record</li>
    </ol> <br />
    <strong>Phase 2</strong>
    <p>
        As result of first phase a tree list of items is created with dependencies and tables metadata. Going from top of the tree to leaf level, the tool generates sql statements according to defined sql extract strategy, currently the following options are supported
    </p>
    <ol>
        <li>ThrowExecptionIfNotExists - defines need of covering sql statement with "if not exists ..."</li>
        <li>NoInserts - defins if insert is needed, or only check for existance and declaring of the variable</li>
    </ol>
    <br />
    <p>
        Important part of the algorithm is definition of "unique fields combination", almost all parameterization tables do have field(s) which can be considered as unique for certain record of that table, for example field "Code" of any classifier table. The unique combinations are widely used in the algorithm, for example when "if not exists" sql statement is generated or when initialization of the primary key variable happens (select pk_var = ... from ...)
    </p>
    <p>
        The mentioned above combinations are defined in <a href="./data/ExtractConfig.xml">ExtractConfig.xml</a> or json in case of web ui.
    </p>
    <br />
    <h4>Application</h4>
    Tool can be used as console application or from web ui(in development now). <br />

    Connection string for console application can be defined in config file, or as parameter in command line, in total applications supports the following command line parameters:
    <ul>
        <li>-c [connection string], connection string to DB</li>
        <li>-p [file name], package name(xml definition what to extract)</li>
        <li>-o [path to folder], folder where scripts will be saved</li>
    </ul><br />
    Example: <em>ParameterizationExtractor.exe -p ClearingPackage.xml</em> <br />
    <ul>
        <li>
            <a class="nav-link" href="./data/ConsoleApplication.zip">Download zip with console application</a>
        </li>
        <li>
            <a class="nav-link" href="./data/example.zip">Download example of package template</a>
        </li>
    </ul>

    <p>In order to get feeling of how the tool is working, please follow <a routerLink="extractor">this link</a>, the hardcoded template to extract one bptypecode</p>
    <p>Source code of the tool can be found in tfs by path <em>$/CustomWare.NET/Tools/ParameterizationExtractor</em></p>
</div>